.paymentDetails {
    display: block;
    width: 100%;
    max-width: 50.0rem;
    padding: 15px;
    margin: 10rem auto;
    background: rgb(245, 243, 243);
    border: 2px solid black;
    border-radius: 4px;

    .group {
        margin: 0 0 2rem;
        text-align: center;
        h2 {
            text-align: center;
            color: rgb(216, 91, 75);
        }
    }
}