.formWrap {
    margin: 3rem auto 0;
    ul {
        list-style: none;
        .error {
            color: red;
        }
    }
}

.socialSignin {
    margin: .5rem auto 0;
}

.links {
    display: block;
    width: 100%;
    margin: 1.5rem auto 0;
    text-align: center;
    a {
        color: black;
        &:hover {
            color: rgb(216, 91, 75);
        }
    }
}