.media__thumb {
    position: relative;
    overflow: hidden;
    width: 100%;
    &::before {
        content: "";
        display: block;
        padding-top: 100%;
    }
    & > img {
        position: absolute;
        object-fit: cover;
        object-position: center;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
    }
}