.products {
    display: block;
    width: 100%;
    padding: 0;
    margin: 2rem 0;
    h1 {
        color: rgb(216, 91, 75);
        text-align: center;
    }
    .productResults {
        display: flex;
        flex-wrap: wrap;
        margin: 3rem auto;
        justify-content: space-around;
    }
}

.product {
    width: 300px;
    margin: 8px ;
    padding: 0 10px;
    border-radius: 6px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
    .thumb {
        display: block;
        width: 100%;
        img {
            display: block;
            object-fit: cover;
            width: 100%;
            height: 250px;
            margin-top: 10px;
        }
    }
    .details {
        display: block;
        width: 100%;
        padding: 1rem 0;
        margin: 0 auto;
        ul,
        ul li {
            padding: 0;
            margin: 0;
        }
        ul {
            li {
                display: block;
                width: 100%;
                list-style-type: none;
                text-align: left;
                margin: 0 0 .5rem;
                a {
                    color: black;
                }
                .name {
                    font-size: 2.2rem;
                    line-height: 1.2;
                    font-weight: 400;
                }
                .price {
                    font-size: 1.6rem;
                    line-height: 1;
                    font-weight: 400;
                    color: rgb(216, 91, 75);
                }
                .addToCart {
                    margin: 2rem 0 0 0;
                }
            }
        }
    }
}